/* app css stylesheet */
@import url('../css/material.min.css');
.header {
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    h1 {margin-bottom: 5px;}
    h5 {margin-top: 0;}
}

.menu {
  list-style: none;
  padding: 40px 0 0.5em;
  text-align: right;
}
.menu > li {
  display: inline;
}
.footer {
    margin-top: 5%;
}

.how {
    text-align: center;
}

.qwrap, .awrap {
 margin: 0 auto;
 text-align: center;
}
.awrap {

}

body {
  background-color: #03A9F4;
  color:white;
}
a.btn {
  color:white !important;
}
.choose-page {
  text-align: center;
  ul {
    list-style: none;
    width: 60%;
    margin: 5% auto;
    text-align: center;
    li {
      display: inline-block;
      width: 80px;
      height: 80px;
      margin: 5px;
      padding: 20px 0;
      //color: white;
      background-color: #E91E63;
      border-radius: 50%;
      a {
        font-size: 28px;
        color: white;
        &:hover {
          text-decoration: none;
          opacity: .7;
          //color: #03A9F4;
        }
      }
    }
  }
}
.info {
  margin-left: -8px;
}
.quiz {
  color: white;
}
.floating {
  position: fixed;
  right: 0;
  top: 300px;
  .score-card {
    background-color: #E91E63;
    padding: 30px;
    color: white;
    p {
      font-size: 24px;
    }
  }
}
.question {
  //text-align: center;
  h5 {
    color: white;
    font-size: 26px;
    font-weight: 300;
    margin-top: 40px;
    width: 85%;
    padding-left: 5px;
  }

}
.answers {
  text-align: center;
  margin: 0 auto;
}
.answer {
  text-align: center;
    cursor: pointer;
    background-color: #3F51B5;
    margin: 5px;
    color:white;
    h6 {
      font-size: 20px;
      opacity: .8;
    }
    &.selected {
        opacity: .8;
        background-color: #FF5722;
        &.correct {
            background-color: #8BC34A;
            opacity: 1;
        }
    }

}




.bomb{
  position: fixed;
  top: 100px;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}
.bomb.failed {
    display: block;
}
.bomb.failed img {
  //position: fixed;
  width: 100%;
  height: 100%;
  // top: 0;
  // bottom: 0;
  // left: 0;
  // right: 0;
  transition: all .5s ease;
}



