@mixin clearfix() {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
@mixin prefix( $prefix, $arg ) {
    -webkit-#{$prefix}: #{$arg};
    -moz-#{$prefix}: #{$arg};
    -ms-#{$prefix}: #{$arg};
    -o-#{$prefix}: #{$arg};
    #{$prefix}: #{$arg};
}
@mixin size( $width: 0, $height: 0 ) {
    width: $width;
    height: $height;
}
@mixin border-radius( $radius: 5px ) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}
@mixin opacity( $opacity: 1 ) {
    filter: unquote("alpha(opacity=(#{$opacity * 100}))");
    -moz-opacity: #{$opacity};
    -khtml-opacity: #{$opacity};
    opacity: #{$opacity};
}
@mixin box-shadow( $box-shadow ) {
    -webkit-box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
}
@mixin text-shadow( $text-shadow ) {
    text-shadow: $text-shadow;
}
@mixin vertical-gradient( $from: #000,$to: #FFF ) {
    background: $from;
    background: -webkit-gradient( linear, left top, left bottom, from( $from ), to( $to ) );
    background: -webkit-linear-gradient( $from, $to );
    background: -moz-linear-gradient( center top, $from 0%, $to 100% );
    background: -moz-gradient( center top, $from 0%, $to 100% );
}
@mixin scale( $ratio: 1 ){
    -webkit-transform: scale( $ratio );
    -moz-transform: scale( $ratio );
    -ms-transform: scale( $ratio );
    -o-transform: scale( $ratio );
    transform: scale( $ratio );
}
@mixin box-sizing( $sizing: content-box ) {
    -webkit-box-sizing: $sizing;
    -moz-box-sizing: $sizing;
    box-sizing: $sizing;
}
@mixin perspective( $perspective ) {
    @include prefix( perspective, $perspective );
}
@mixin transition( $transition ) {
    @include prefix( transition, $transition );
}
@mixin transform( $transform ) {
    @include prefix( transform, $transform );
}
@mixin transform-origin( $origin ) {
    @include prefix( transform-origin, $origin );
}
