<!doctype html>
<html lang="en-US">
<head>
<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  
  <link rel="stylesheet" href="dist/css/main.css">
</head>
<body ng-app="myApp">
    <div ng-controller="MainController">

       <div class="container">
            <div class="header row">
              <div class="col-xs-6">
                <h1>Biology Vocabulary Kaboom</h1>
                <h5>Get really smart</h5>
              </div>
              <div class="col-xs-6">
                <ul class="menu">
                  <li><a class="btn btn-default" href="http://sprystack.com/biology/app/#">Modules</a></li>
                  <!-- <li><a class="btn btn-default" href="/quiz">Module 6</a></li> -->
                  <li><a class="btn btn-default" ng-click="reloadRoute()">Replay</a></li>
                </ul>
              </div>
            </div>


            <div ng-view id="content"></div>

        </div>



        <div class="footer"></div>

   </div>
    <script src="assets/js/angular-plugins.js"></script>
    <script src="app.js"></script>
    <script src="quiz.js"></script>
</body>
</html>