<div class="choose-page">
    <h1>Choose A Module</h1>
    <div class="module-nums">
        <ul>
            <li><a href="#/quiz/1">1</a></li>
            <li><a href="#/quiz/2">2</a></li>
            <li><a href="#/quiz/3">3</a></li>
            <li><a href="#/quiz/4">4</a></li>
            <li><a href="#/quiz/5">5</a></li>
            <li><a href="#/quiz/6">6</a></li>
            <li><a href="#/quiz/7">7</a></li>
            <li><a href="#/quiz/8">8</a></li>
            <li><a href="#/quiz/9">9</a></li>
            <li><a href="#/quiz/10">10</a></li>
            <li><a href="#/quiz/11">11</a></li>
            <li><a href="#/quiz/12">12</a></li>
            <li><a href="#/quiz/13">13</a></li>
            <li><a href="#/quiz/14">14</a></li>
            <li><a href="#/quiz/15">15</a></li>
            <li><a href="#/quiz/16">16</a></li>
        </ul>
    </div>
</div>