
<div class="intro {{ (startQuiz > -1 ) ? 'inactive' : 'active' }}">
    <div class="how">
        <!-- <h2>Answer as many as possible without getting KABOOMED!</h2> -->
    </div>

</div>
<div class="quiz inner {{ (startQuiz > -1 ) ? 'active' : 'inactive' }} showdiv fadeInUp" >


        <div class="info col-xs-4">
            <h3>Module {{mN}}</h3>
            <p class="number">Number of Questions: {{ totalQuestions }}</p>
        </div>
        <div class="floating">
            <div class="score-card">
                <p class="score">Your Score: {{ score }}</p>
            </div>
        </div>


    <div ng-repeat="myQuestion in myQuestions" class="questions row">
        <div class="qwrap-">
            <div class="question col-xs-11
            {{ (myQuestion.questionState === 'answered') ? 'answered' : 'unanswered' }} ">
                <h5>What is <span>{{myQuestion.defi}}</span>?</h5>
                <div class="answers">
                    <div class="answer col-xs-5" ng-repeat="answer in myQuestion.pack" ng-class="{selected:isSelected($parent.$index, $index), correct:isCorrect($parent.$index, $index) }"
                        ng-click="selectAnswer($parent.$index, $index)">
                        <h6>
                            {{ answer }}.&nbsp;
                                
                                
                        </h6>
                    </div>
                </div>
            
            
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <br><br><br>
        <p class="score">Your Score: {{ score }}</p>
    </div>
    <div class="bomb" ng-class={failed:hasFailed()}>
        <img src="assets/img/kaboom2.jpg" alt="">
    </div>
</div>