{% extends 'main.twig' %}

{% block content %}
    <div class="">
        <h3>{{ authorname }} wrote the following books:</h3>
    </div>

    <div class="row author-books">
        {% for author in authors if author.name == authorname %}
            <ul class="books">
            {% for book in author.titles  %}
                <li>{{ book }}</li>
            {% endfor %}
            </ul>
        {% endfor %}

    </div>
    <div class="view-all">
        <a class="btn btn-info" href="{{ siteUrl('/authors') }}">All Authors</a>
    </div>





{% endblock content %}