<div class="header row">
  <div class="col-xs-6">
    <h1>Tyndale Authors</h1>
    <h5>Get to know their work!</h5>
  </div>
  <div class="col-xs-6">
    <ul class="menu">
      <li><a class="btn btn-default" href="{{ baseUrl() }}">Home</a></li>
      <li><a class="btn btn-default" href="{{ siteUrl('/authors') }}">Authors</a></li>
      <li><a class="btn btn-default" href="{{ siteUrl('/about') }}">About</a></li>
    </ul>
  </div>
</div>


