{% extends 'main.twig' %}

{% block content %}
    <div class="how">
    <h2>View a Sample of Tyndale's Authors</h2>

    <div class="begin">
        <a class="btn btn-info" href="{{ siteUrl('/authors') }}">Authors</a>
    </div>

</div>
{% endblock content %}