<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Authors App Slim</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ baseUrl() }}/dist/css/main.css">

</head>
<body>
<div class="container">
    {% include 'header.twig' %}

    <div class="content row">
        {% block content %}
        {% endblock content %}
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="{{ baseUrl() }}/assets/js/plugins.js"></script>
<script src="{{ baseUrl() }}/global.js"></script>
<script src="{{ baseUrl() }}/assets/js/main.js"></script>

</body>
</html>