{% extends 'main.twig' %}

{% block content %}
    <div class="viewgame">
        <h3>Authors and their books.</h3>
    </div>

    <p>Authors</p>
    <div class="row authors">

     {% for author in authors %}

        <div class="author col-xs-4">
            <div class="">
                <a href="{{ urlFor('authors', {"name": author.name}) }}">
                    <img src="{{ author.photo }}" alt="">
                </a>
                <div class="author-info">
                     <p class="name">{{author.name}}</p>
                </div>
            </div>

        </div>

    {% endfor %}
    </div>

{% endblock content %}